

.custom-image-gallery .image-gallery-left-nav,
.custom-image-gallery .image-gallery-right-nav {
  display: none; 
}


.custom-image-gallery .image-gallery-image {
  max-width: 800px; 
  max-height: 600px; 
  margin: 50px;
}


  

.custom-image-gallery .image-gallery-slide img {
    width: 75%; 
    height: 550px;
  }
  
  .custom-image-gallery .image-gallery-thumbnail {
    margin-top: 50px;
    width: 100px; 
    height: 80px; 
  }
  
  .custom-image-gallery .image-gallery-thumbnail.active {
    border: 2px solid #007bff; 
  }
  
  .custom-image-gallery .image-gallery-thumbnail-wrapper {
    margin: 0 5px;
  }
  
  .custom-image-gallery .image-gallery-slide {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* Add this to your CSS file */
@media (max-width: 768px) {
  .custom-class {
    font-size: 14px;
    /* other styles for smaller screens */
  }
}

@media (min-width: 769px) {
  .custom-class {
    font-size: 18px;
    /* other styles for larger screens */
  }
}


/* Hide on mobile devices */
.custom-class,
.flag {
  display: none;
}

/* Show on medium screens and up */
@media (min-width: 768px) {
  .custom-class {
    display: block;
  }
}


/* Hide on mobile devices */
.custom-cart {
  display: none;
}

/* Show on medium screens and up */
@media (min-width: 768px) {
  .custom-cart {
    display: block;
  }
}
